header {
    background-color: black;
    height: 70px;
    width: 100%;
    display: flex;
}

header img {
    height: 40px;
    width: 120px;
    margin-top: 1%;
    margin-left: 120px;
}

.search {
    height: 40px;
    width: 530px;
    font-size: 16px;
    margin-top: 12px;
    margin-left: 80px;
    padding-left: 1px;
    background-color: black;
    position: relative;
}

.slogo {
    position: absolute;
    height: 5%;
    left: 48%;
    font-size: 20px;
    top: 2.8%;
    border: none;
    background-color: black;
    color: white;
}

.login {
    border: 1px solid black;
    background-color: black;
    height: 30px;
    width: 100px;
    padding-left: 10px;
    padding-top: 9px;
    font-size: 25px;
    text-decoration-line: none;
    margin-top: 12px;
    margin-left: 30px;
}

header p {
    font-size: 17px;
    margin-top: 25px;
    color: red;
    margin-left: 15px;
}

header .icon {
    margin-left: 100px;
}

header .icon1 {
    height: 100px;
    width: 100px;
}

.homie {
    text-decoration-line: none;
    font-size: 22px;
    margin-left: 500px;
    margin-top: 22px;
    font-weight: 600;
    color: black;
}


/* items section starts here  */


ul {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    height: 20px;
    list-style: none;
    padding: 0;
}


.items,
p {
    margin-top: -5px;
    margin-left: 7px;
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.items a {
    color: black;
    text-decoration-line: none;
}

.dropdw ul li a {
    padding-left: 20px;
    line-height: 30px;
}

.grodiv {
    position: relative;
}

.dropdw {
    display: none;
    position: absolute;
    top: 40%;
}

.dropdw ul {
    display: block;
    padding: 0;
    margin: 0;
}

.dropdw ul li {
    display: block;
    padding: 0;
}

.grodiv:hover .dropdw {
    display: block;
    background-color: white;
    height: 200px;
    width: 150px;

}


.fashion {
    margin-left: 35px;
}


/* rice page starts here  */


.bg img {
    filter: brightness(50%);
    filter: blur(4px);
    position: relative;
}

.bg h1 {
    position: absolute;
    top: 8%;
    left: 44%;
    color: white;
}

.header {
    background-color: white;
    height: 70px;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
}

.header h1 {
    margin-left: 150px;
    margin-top: 15px;
}


.search1 {
    height: 40px;
    width: 530px;
    font-size: 16px;
    margin-top: 12px;
    margin-left: 10px;
    padding-left: 20px;
    position: relative;
}

.glass1 {
    position: absolute;
    left: 46.5%;
    font-size: 20px;
    top: 32%;
    border: none;
    background-color: white;
    color: blue;
}

.login1 {
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 30px;
    width: 100px;
    padding-left: 50px;
    padding-top: 5px;
    font-size: 21px;
    text-decoration-line: none;
    margin-top: 15.5px;
    margin-left: 20px;
}

.header p {
    font-size: 25px;
    margin-top: 20px;
    color: black;
    margin-left: 40px;
}

.products {
    position: absolute;
    top: 23%;
    left: 10%;
    display: flex;
    width: 80%;
    justify-content: space-between;

}

.speakers {
    border: 2px solid black;
    height: 500px;
    width: 300px;
    background-color: #ffffff;
    text-align: center;
}

.riceitems h2 {
    font-size: 28px;
    font-weight: 600;
}

.riceitems h3 {
    font-size: 28px;
    margin: 0;
    margin-top: 15px;
    font-weight: 600;
}

.riceitems select {
    font-size: 20px;
    padding: 5px 20px;
}

.addsub {
    display: flex;
    height: 50px;
    width: 200px;
    margin-top: 15px;
    margin-left: 50px;
    background-color: transparent;
    justify-content: space-between;
}

.addsub h1 {
    margin-top: 2.5px;
}

.addsub button {
    padding: 10px 15px;
    font-size: 25px;
}

.powerbank {
    border: 2px solid black;
    height: 500px;
    width: 300px;
    background-color: #ffffff;
    text-align: center;
}


.new {
    border: 2px solid black;
    height: 500px;
    width: 300px;
    background-color: #ffffff;
    text-align: center;
}

nav{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 0.3%;
}

nav a{
    text-decoration: none;
    color: black;
}

.lo{
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin-left: 39%;
}